# Medusa
MEDUSA_BASE_URL=http://localhost:9000
MEDUSA_ADMIN_API_KEY=

# Royal Mail Click & Drop
ROYAL_MAIL_BASE_URL=https://api.parcel.royalmail.com/api/v1
ROYAL_MAIL_API_KEY=your-key-here

INTEGRATION_API_KEY=your-generated-secret
